<div class="sidebar">

  <div class="sidebar__top">
    <div class="sidebar__logo">
      <h1>
      { }
      </h1>
    </div>
  </div>

  <h1 class="sidebar__title">G Prharsha</h1>
  <p class="sidebar__bio">
    Helping you keep your bits and bytes in check. The malware-analyst neighbor you never knew you needed.
  </p>

  <div class="sidebar__bottom">
    <div class="sidebar__links">
      {% assign delay = 0.6 %}
      {% for link in site.data.links %}
      {% assign data = link[1] %}
      <a href="{{ data.url }}" class="sidebar__link wow fadeInLeft" data-wow-delay="{{ delay }}s">{{ data.name }}</a>
      {% assign delay = delay | plus: 0.2 %}
      {% endfor %}
    </div>
  </div>

</div>
